<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top"
    style="background-color: #db7093;"
  >
    <a class="navbar-brand" href="#">INFSCI 2710 Customer Service</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buys">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salespeople">Salesperson</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Employee</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
