{% extends "./share/base.html" %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <img class="img-fluid" src="{{ song.url_img }}" alt="{{ song.title }}" style="width:100%">
      </div>
      <div class="col-auto">
        <h2>
          {{ song.title }}
          {% if song.url_spotify != null %}
            <a href="{{ song.url_spotify }}" target="_blank">
              <img src="{% static 'spotifind/spotify_play_button.png' %}" alt="spotify play" style="height:2rem">
            </a>
          {% endif %}
        </h2>
        <h4>{{ song.artist }}</h4>
        <p>{{ song.lyrics|linebreaks }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
