<div class="alert alert-success text-center" *ngIf="submitted">
  Success
</div>

<div class="alert alert-danger text-center" *ngIf="submitted === false">
  {{ errorMessage.error }}
</div>

<div class="container">
  <form [formGroup]="editProductForm">
    <div class="row">
      <div class="form-group col">
        <small class="text-info">id cannot be altered</small>
        <input
          type="text"
          class="form-control"
          placeholder="{{ editProductForm.get('_id').value }}"
          value="{{ editProductForm.get('_id').value }}"
          formControlName="_id"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="itemname"
          formControlName="itemname"
          [class.is-invalid]="
            editProductForm.get('itemname').invalid &&
            editProductForm.get('itemname').touched
          "
        />
        <div
          *ngIf="
            editProductForm.get('itemname').invalid &&
            editProductForm.get('itemname').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="editProductForm.get('itemname').errors.required"
          >
            itemname is required
          </small>
        </div>
      </div>

      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="brand"
          formControlName="brand"
          [class.is-invalid]="
            editProductForm.get('brand').invalid &&
            editProductForm.get('brand').touched
          "
        />
        <div
          *ngIf="
            editProductForm.get('brand').invalid &&
            editProductForm.get('brand').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="editProductForm.get('brand').errors.required"
          >
            brand is required
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <textarea
          type="text"
          class="form-control"
          placeholder="description"
          formControlName="description"
          [class.is-invalid]="
            editProductForm.get('description').invalid &&
            editProductForm.get('description').touched
          "
          rows="5"
        >
        </textarea>
        <div
          *ngIf="
            editProductForm.get('description').invalid &&
            editProductForm.get('description').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="editProductForm.get('description').errors.required"
          >
            description is required
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <input
          type="text"
          class="form-control"
          placeholder="unitprice"
          formControlName="unitprice"
          maxlength="10"
          [class.is-invalid]="
            editProductForm.get('unitprice').invalid &&
            editProductForm.get('unitprice').touched
          "
        />
        <div
          *ngIf="
            editProductForm.get('unitprice').invalid &&
            editProductForm.get('unitprice').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="editProductForm.get('unitprice').errors.required"
          >
            unitprice is required
          </small>
          <small
            class="text-danger"
            *ngIf="
              editProductForm.get('unitprice').errors.minlength ||
              editProductForm.get('unitprice').errors.pattern
            "
          >
            unitprice must be numbers
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="btn-toolbar col-auto ml-auto">
        <div class="btn-group mr-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!editProductForm.valid"
          >
            SUBMIT
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
